.App {
  background: url('https://img.alicdn.com/tfs/TB1DlZMOAL0gK0jSZFtXXXQCXXa-1920-1080.jpg');
}

.header {
  height: 30px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}

.content {
  padding: 20px;
}

.firstRow {
  display: flex;
}

.left1,
.right1,
.left2,
.right2 {
  width: 50%;
  height: 300px;
  border: 3px solid #76a5af;
  margin: 10px;
  border-radius: 20px;
}

.secondRow {
  display: flex;
}

.title {
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  background-color: #1c4587;
  font-weight: 400;
  border-radius: 18px 18px 0 0;
}